/*

 */
 /*
 asdasd
 */
 .tab-pane {
    -fx-tab-max-height: 0 ;
} 
.tab-pane .tab-header-area {
    visibility: hidden ;
}
.footer-text{
     -fx-font-size: 15.0;
}
.seperator {
-fx-border-color: transparent red transparent transparent;
 -fx-background: #e6e6e6;
}

.seperator2 {
-fx-border-color: transparent red transparent transparent;
 -fx-background: red;
 border-bottom: 4px;
}
.jfx-date-picker > .jfx-text-field {
    -jfx-label-float: true;
    -fx-font-size: 16.0;
}
.jfx-combo-box  {
    -jfx-label-float: true;
    -fx-font-size: 16.0;
}
.dashboard-menu-icon{
   -fx-background-repeat: no-repeat;
  -fx-background-position: left;
  -fx-background-size: 28px;
  -fx-background-position: 12px;
 
}
.dashboard-title{
    font-size: 18px;
    color: #393939;
}
.dashboard-menu-button-padding{
     -fx-padding:0 0 0 50px;
}
.dash-button-products {
  -fx-background-image: url('../../assets/projects-50.png');
}
.dash-button-employee {
  -fx-background-image: url('../../assets/employee-50.png');
}
.dash-button-meeting {
  -fx-background-image: url('../../assets/meeting-50.png');
}
.dash-button-marketing {
  -fx-background-image: url('../../assets/marketing-50.png');
}
.dash-button-home {
  -fx-background-image: url('../../assets/home-50.png');
}
.dash-button-settings {
  -fx-background-image: url('../../assets/settings-50.png');
}
.body {
    -fx-background-color: #fff;
}

.dashboard-right-icon{
   -fx-background-repeat: no-repeat;
  -fx-background-position: center;
  -fx-background-size: 32px;
  -fx-background-image: url('../../assets/logout-50.png');
}
.default-color0.chart-series-line { -fx-stroke: #7ae97d; }
.default-color1.chart-series-line { -fx-stroke: #e97a7d; }
.default-color2.chart-series-line { -fx-stroke: #dda0dd; }

.chart-series-line {    
    -fx-stroke-width: 5px;
    -fx-effect: null;
}


.button-default{
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-background-color:   #0984e3
}